<div class="box">
  <div class="main">
    <h1>Welcome to TeamProve</h1>
    <h2>The exercise statistics site to give your team the edge.</h2>
    <a href="/user/new" class="btn btn-lg btn-success">Sign up here!</a>
  </div>
</div>
